@page "/game"

<span>Cards: @state.Hand.Count()</span>
<span>@state.SelectedCard</span>

@if (!HasJoined)
{
    <div class="form-group">
        <label>
            User:
            <input @bind="userName" />
        </label>
    </div>
    <button class="btn btn-primary" @onclick="JoinGame" disabled="@(!IsConnected)">Join Game</button>
}

@if (CanStartGame)
{
    <button class="btn btn-primary" @onclick="StartGame">Start Game</button>
}

@if (state.HasGameStarted)
{
    foreach (var card in state.Hand)
    {
        <PlayingCard Card="card" OnCardSelected="HandleSelectedCard"/>
    }
    <button btn btn-primary @onclick="DrawCard">Draw</button>
    <button btn btn-primary @onclick="PlayCard" disabled="@(state.SelectedCard == null)">Play</button>
}