@page "/game"


@if (!HasJoined)
{
    <div class="form-group">
        <label>
            User:
            <input @bind="userName" />
        </label>
    </div>
    <button @onclick="JoinGame" disabled="@(!IsConnected)">Join Game</button>
}

@if (CanStartGame)
{
    <button @onclick="StartGame">Start Game</button>
}

@if (state.HasGameStarted)
{
    foreach (var card in state.Hand)
    {
        <span><PlayingCard Card="card" /></span>
    }
}