@page "/game"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable  

<div class="form-group">
    <label>
        User:
        <input @bind="userName"/>
    </label>
</div>
<button @onclick="JoinGame" disabled="@(!IsConnected)">Join Game</button>

@code {
    string userName;

    public bool IsConnected => false;
    
    private HubConnection hubConnection;
    
    protected override async Task OnInitializedAsync()
    {
        // hubConnecdtion = new HubConnectionBuilder()
        //  .WithUrl(NavigationManager.ToAbsoluteUri("/gamehub"))
        //  .Build();
        
    }

    void JoinGame()
    {

    }

    public async ValueTask DisposeAsync()
    {
        //await hubConnection.DisposeAsync();
    }

}