@page "/table"

♦
♥
♠

<div class="pcard">
    <div class="suit-top">A<span> ♣</span></div>
    <div class="middle-pips"></div>
    <div class="suit-bottom">A<span> ♣</span></div>
</div>

<div class="pcard back">
     
</div>